!!! 5
html
  head
    title= appTitle
    link(rel='stylesheet/less', type='text/css', href='/stylesheets/style.less')
    script(src='/javascripts/lesscss.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js')
    script(src='/javascripts/flashcards.js')
    
    //- allow pages to have their own scripts
    - if (typeof extraScripts != 'undefined')
      - extraScripts.forEach(function(script){
          script(src='#{script}')
      - })    

  body(class=bodyClass)
    h1= appTitle
    
    //- [sets the content of nav.jade to the block nav, can be overridden in child templates]
    block nav
      include includes/nav
    
      h2= pageTitle || ''
    
    != messages()    
    
    != body


    div#footer 
      | Created by <a href="http://newleafdigital.com">Ben Buckman</a>.
      | Built with <a href="http://nodejs.org">node.js</a> and <a href="http://expressjs.com/">express.js</a>. 
      | Project code is on <a href="https://github.com/newleafdigital/nodejs_spanish_flashcards">Github</a>.
