ul.words
  - each word in words
    //- -- NOT WORKING!? --
    //-li!= partial('word', word)
    
    li.word
      span.label spanish
      span.es= word.word_es

      span.label english      
      span.en= word.word_en

      span.label type
      span.type= word.type

      a.edit(href='/edit/#{word._id}') edit
      a.delete(href='/delete/#{word._id}') delete
