//- play a random flashcard

div#kb-legend
  h4 Keyboard Shortcuts
  div
    span.key Enter:
    span.does Show Answer    
  div
    span.key Left Arrow:
    span.does Got It Right
  div
    span.key Right Arrow:
    span.does Got It Wrong
  div
    span.key R:
    span.does Restart Game


div#play(class="lang-#{langCode}")

  - if (gameOver)
      div.gameover Game Over!
      
  - else
      div.question
        span.label= language
        = question
  
      div#answer
        ul.words
          li!= partial('word/word', word)
    
      div#show-wrapper
        a#show(href='#') Show


      a.next-correct(href='/play/#{word._id}/correct') Got it right :)
      a.next-incorrect(href='/play/#{word._id}/incorrect') Got it wrong :(

  - if (remaining > 0)
    div.remaining (#{remaining} words left to get right)

  a.next-restart(href='/play/restart') Restart Game
